{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}
<br/>
<br/>
{% endif %}



</div>

<br/><br/><br/><br/>

    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto">
                <h3> Create Content </h3>
                    <form method="POST" action="{% url 'add' %}">
                    {% csrf_token %}
                        <br/>
                        <input type='text' name='title' placeholder="Title" class="form-control"/>
                        <br/>
                         <textarea class="form-control" name='body' placeholder="Body" rows="20"></textarea>
                        <br/>
                        <br/>
                        <div class= "row">
                            <div class ="col-2 mx-auto">
                                <button class="btn btn-success btn-block" type="submit">Create!</button>
                                </form>
                            </div>
                        </div>
            </div>
        </div>
            <br/>
            <br/>

        </div>
    </div>

{% endblock %}
