{% extends 'base.html' %}

{% block content %}

<div class="container">

  <br/><br/><br/><br/> <!-- vertical spacing -->

  <div class="row">
    <div class="col-8 mx-auto">
        <h1 class="text-center"> {{content.title}} </h1>
        <p class="text-center"> {{content.body}}  </p>
    </div>
  </div>

<br/>
<br/>
<br/>

{% if error %}
{{ error }}
<br/>
<br/>
{% endif %}


<div class="row">

    <div class="col-2">
      <!-- horizontal spacing -->
    </div>

    <div class="col-2">
        <div class="card shadow-sm bg-white rounded ">
          <div class=" mx-auto"> <p class="pt-3"> Overall Rating: {{ content.avg |floatformat:1 }} </p>  </div>
        </div>
    </div>
    <div class="col-2 ">
        <div class="card shadow-sm bg-white rounded ">
          <div class=" mx-auto"> <p class="pt-3"> Interest: {{ content.avg_ir |floatformat:1}} </p>  </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card shadow-sm bg-white rounded ">
          <div class=" mx-auto"> <p class="pt-3"> Clarity: {{ content.avg_cr |floatformat:1 }} </p> </div>
        </div>
    </div>
    <div class="col-2 ">
        <div class="card shadow-sm bg-white rounded ">
          <div class=" mx-auto"> <p class="pt-3"> Brevity: {{ content.avg_br |floatformat:1 }} </p> </div>
        </div>
    </div>

</div>

<br/><br/> <!-- vertical spacing -->

{% for review in reviews reversed %}

<div class="row">
  <div class="col-2">
      <!-- horizontal spacing -->
  </div>

  <div class="col-8 ">
    <div class="card text">
      <div class="card-header">
        <div class="row">
          <div class="col-3">
            <div class="text-primary"> {{ review.name }} </div>
          </div>
          <div class="col-6">
            <!-- horizontal spacing -->
          </div>
          <div class="col-3">
            <div class="float-right text-secondary"> {{ review.pub_date_pretty }} </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title font-strong">Overall Rating: {{review.avg_rating |floatformat:1 }} </h5>
        <p class="card-text"> {{review.general_comments}} </p>

      <div class="collapse" id="{{review.id}}">
      <hr/>


        <h5 class="card-title"> Interest Rating: {{review.interest_rating |floatformat:1 }} </h5>
        <p class="card-text"> Question: What is unintersting? What do you suggest be rewritten to better sustain your interest? <br/>
        Answer: {{review.interest}} </p>
      <hr/>

        <h5 class="card-title"> Clarity Rating: {{review.clarity_rating |floatformat:1 }} </h5>
        <p class="card-text"> Question: What’s unclear? Are you left with any unaswered questions? <br/> Answer: {{review.clarity}} </p>

      <hr/>

        <h5 class="card-title"> Brevity Rating: {{review.brevity_rating |floatformat:1 }} </h5>

        <p class="card-text"> Question: If you had to delete 20% what would you remove? <br/> Answer: {{review.brevity}}  </p>
      <hr/>
      </div>

      </div>

      <div class="card-footer text-muted text-center">
        <a href="#" class="btn" data-toggle="collapse" data-target="#{{review.id}}">
          <div class="row">
          <div> Click to see full review </div>
          </div>
          <!-- <span class="oi oi-caret-bottom"></span> -->
        </a>

      </div>
    </div>
  </div>
</div>

<br/>

{% endfor %}


<br/><br/> <!-- vertical spacing -->

<a href="{% url 'readerpage' content.id %}">  <p class="text-center"> Copy and send this link to the readers you want feedback from </p> </a>


</div>
</div>

<br/>

<!--   <div class="card col-8 mx-auto shadow-sm pt-3 pr-4 pl-4 mb-4 bg-white rounded">
    <div class="row">
      <div class ="col-3 mb-3 text-primary"> Jakob Tolstrup </div>
    </div>
    <div class="row">
      <div class ="col mb-3 text-muted"> Aug 25 </div>
    </div>
    <div class="row">
      <div class="card col-3 shadow-sm pt-3 pr-3 pl-3 pb-3 mb-2 ml-3 mr-1 bg-white rounded ">
        <div class=" mx-auto"> Avg Rating: 4,5 </div>
      </div>
    </div>
    <div class="row">
      <div class="card col-3 shadow-sm pt-3 pr-3 pl-3 pb-3 mb-2 ml-3 mr-1 bg-white rounded ">
        <div class=" mx-auto"> Readability: 4,5 </div>
      </div>
    </div>
    <div class="row">
      <div class="card col-3 shadow-sm pt-3 pr-3 pl-3 pb-3 mb-4 ml-3 mr-1 bg-white rounded ">
        <div class=" mx-auto"> Actionability: 4,5 </div>
      </div>
    </div>
  </div> -->

{% endblock %}
