
{% extends 'base.html' %}


{% block content %}

<div class="container">

    <br/><br/><br/><br/> <!-- vertical spacing -->
    <div class="row">

        <div class="col-2 my-div">
            <!-- horizontal spacing -->
        </div>

        <div class="col-4 my-div">
            <h3> Your Content </h3>
        </div>

        <div class="col-4 my-div ">
             <a href="{% url 'add' %}">
             <button type="button" class="btn btn-success float-right" >
                Create
             </button>
              </a>
        </div>

    </div>

    <br/> <!-- vertical spacing -->

    <!-- second row -->
    <div class="row">
        <div class="col-2 my-div">
            <!-- horizontal spacing -->
        </div>
        <div class="col-4 my-div">
            <p> Total ({{ total }}) </p>
        </div>
    </div>

    <br/> <!-- vertical spacing -->

    <!-- third row -->
    <div class="row">

        <div class="col-2 my-div">
            <!-- horizontal spacing -->
        </div>


        <!-- Here we have the pieces of content -->
        <div class="col-8 my-div">
            {% for content in content.all reversed %}
                <div class="card-deck" onclick="window.location='{% url 'details' content.id %}';" style="cursor: pointer;">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <!-- Here the row begins -->
                            <div class="row">
                                <div class="col">
                                    <div class="row my-row">
                                        <div class="col">
                                             <h4 class="card-title pricing-card-title"> {{ content.title }}</h4>
                                        </div>
                                    </div>
                                    <div class="row my-row">
                                        <div class="col">
                                            <p> Rating: {{ content.avg | floatformat:1 }}</p> <!-- I need to change this to another color -->
                                        </div>
                                        <div class="col">
                                            <p> Reviews: {{ content.review_set.count }} </p>
                                        </div>
                                        <div class="col">
                                            <p> 27 Sep 2010 </p> <!-- I need to change this to another color -->
                                        </div>
                                        <div class="col-5">
                                        </div>
                                    </div> <!-- row end -->
                                </div>
                            </div> <!-- row end -->

                            <!-- Here the row stops -->
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    <!-- row 3 end  -->
    </div>

  <br/><br/><br/><br/><br/><br/><br/> <!-- vertical spacing -->


<!-- container div -->
</div>


{% endblock %}

