{% extends 'base.html' %}

{% block content %}


<br/><br/><br/><br/>


<div class="row">
    <div class="col-4 mx-auto">
        <h3> Your content has been created! </h3>
    </div>
</div>
<div class="row">
    <div class="col-10 mx-auto">
        <hr/>
    </div>
</div>

<br/><br/>

<div class="row">
    <div class="col-6 mx-auto ">
        <div class="text-secondary d-flex justify-content-center"> Copy the link and send it to readers you want feedback from </div>
    </div>
</div>


<br/><br/>

<div class="row">
    <div class="col ">
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-outline-success ">Copy Link</button>
        </div>
    </div>
</div>

</div>



<!-- <div class="row">
    <div class="col-4 mx-auto">
        <a href="{% url 'readerpage' content.id %}"> <p class="text-center"> Send this link to the person you want feedback from </p> </a>
    </div>
</div> -->


    <br/>
    <br/>
<div class="row">
    <div class="col-4 mx-auto">
        <a href="{% url 'home' %}" class="navbar-brand text-dark">  <span class="oi oi-arrow-circle-left"></span>  </a>
    </div>
</div>



{% endblock %}
