{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<br/><br/><br/><br/>

<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
        <h1 class="text-center"> {{content.title}} </h1>
        <p class="text-center"> {{content.body}} </p>
    </div>
  </div>

<br/>
<br/>
<br/>

<form method="post" class="uniForm">
  {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-6 mx-auto">
        {{ form|crispy }}
      </div>
    </div>
    <div class="col-2"> </div>


</div>

  <div class="row">
    <button type="submit" class="btn btn-primary col-2 mx-auto">Submit</button>
  </div>

</form>

<br/>
<br/>

<!--

    <div class="form-row">
      <div class="form-group col-8 mx-auto">
        {{ form.interest_rating|as_crispy_field }}
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-8 mx-auto">
        {{ form.interest|as_crispy_field }}
      </div>
    </div>

     <div class="form-row">
        <div class="form-group col-8 mx-auto">
         {{ form.clarity_rating|as_crispy_field }}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-8 mx-auto">
            {{ form.clarity|as_crispy_field }}
        </div>
      </div>

       <div class="form-row">
        <div class="form-group col-8 mx-auto">
            {{ form.interest_rating|as_crispy_field }}
        </div>
      </div>


       <div class="form-row">
        <div class="form-group col-8 mx-auto">
            {{ form.interest|as_crispy_field }}
        </div>
      </div>


       <div class="form-row">
        <div class="form-group col-8 mx-auto">
            {{ form.brevity_rating|as_crispy_field }}
        </div>
      </div>

       <div class="form-row">
        <div class="form-group col-8 mx-auto">
            {{ form.brevity|as_crispy_field }}
        </div>
      </div>

       <div class="form-row">
        <div class="form-group col-8 mx-auto">
            {{ form.general_comments|as_crispy_field }}
        </div>
      </div>


          <br/>s
          <br/>
    </div>
  </div>
</div>



 <form method="post">
{% csrf_token %}

<div class="form-row">
  <div class="form-group card col-8 mx-auto shadow-sm pt-4 pr-4 pl-4 mb-5 bg-white rounded">
    <div class="card-body form-group">

{{ form | crispy }}
<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>

</form>
          <br/>
          <br/>
    </div>
  </div>
</div> -->



{% endblock %}

