
<!doctype html>
<html lang="en">

{% load staticfiles %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> User Testing of Content </title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

 <!--  <link rel= "stylesheet" href="/User_testing_v10/main.css"> -->
   <link rel= "stylesheet" href="../../main.css">
   <link rel= "stylesheet" href="/main2.css">


  <link href= "{% static 'open-iconic/font/css/open-iconic-bootstrap.css' %}" rel="stylesheet">

  <style>

body {
  margin: 0;
  font-family: Helvetica Neue;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #FAF6F5;
}

:root {
  --secondary: #6c757d;
}

/*.my-div {
  border: 1px solid green;
}

.my-row {
  border: 1px solid red;
}*/

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

primary {
  color: red;
}

.asteriskField{
display: none;
}


  </style>

</head>

<body>
    <header>
      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 border-bottom shadow-sm bg-info ">
         <a class="navbar-brand text-dark" href="{% url 'home' %}"> <img src=" {% static 'pandav2.png' %}" width="50" height="40"> </a>
         <a class="navbar-brand text-dark" href="{% url 'home' %}">
             <h4 class="my-0 mr-md-auto font-weight-strong text-white ">FeedbackBuddy </h4>
          </a>
        <h5 class="my-0 mr-md-auto font-weight-normal"> <!-- To keep distance  --> </h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <!-- <a class="p-2 text-dark" href="">Blog</a>
          <a class="p-2 text-dark" href="#">About</a>
          <a class="p-2 text-dark" href="#">Reader Signup</a> -->
        </nav>
        {% if user.is_authenticated %}
              <a class="nav-item p-2 text-white" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
              <form id="logout" method="POST" action="{% url 'logout' %}">
              {% csrf_token %}
              </form>
        {% else %}
        <nav>
          <a class="btn btn-primary mr-md-1 my-div" href="{% url 'login' %}">Login</a>
          <a class="btn btn-outline-light" href="{% url 'signup' %}">Sign up</a>
        </nav>
        {% endif %}
      </div>
    </header>

<main role="main">
    {% block content %}
    {% endblock %}
</main>

<footer class="text-muted">
</footer>

    <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
    </html>






